/* Admin Panel Container */
.admin-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f4;
}

/* Sidebar */
.admin-sidebar {
  width: 260px;
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  margin-right: 12px;
  height: 100vh;
}

.sidebar-heading {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.sidebar-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar-item .sidebar-icon {
  font-size: 22.5px; /* Sets icon size to 1rem */
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

/* Main Content */
.admin-content {
  flex: 1;
  margin: 20px auto;
  padding-right: 20px; /* Add right padding to create space on the right side */
}

.admin-panel-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1e1e2f;
  text-align: center;
}

/* Table */
.admin-panel-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Buttons */
.admin-panel-btn {
  padding: 6px 12px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

/* Approve Button */
.admin-panel-btn.approve {
  background-color: #28a745; /* Lighter green for approve */
  color: white;
}

.admin-panel-btn.approve:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Pending Button */
.admin-panel-btn.pending {
  background-color: #f39c12; /* Golden yellow for pending */
  color: white;
}

.admin-panel-btn.pending:hover {
  background-color: #e67e22; /* Darker orange for hover */
}

/* Disable Button */
.admin-panel-btn.disable {
  background-color: #d9534f; /* Red color for disable */
  color: white;
}

.admin-panel-btn.disable:hover {
  background-color: #c9302c; /* Darker red on hover */
}

/* Logout Button */
.logout-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 0;
  width: 220px;
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e63946;
}
.sidebar-line {
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Choose your color */
  margin: 10px 0; /* Adjust the spacing around the line */
}
